/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.listDiv{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M563.89 491.77L615.45 491.77L615.45 544.25L563.89 544.25z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1061.26 324.36 a33.3 33.3 0 1 0 66.6 0 a33.3 33.3 0 1 0 -66.6 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M432.25 312.5L459.08 312.5L459.08 339.33L432.25 339.33z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1308.91 478.46L1328.55 478.46L1328.55 501.84L1308.91 501.84z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M795.48 146.63L803.82 146.63L803.82 154.97L795.48 154.97z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M832.99 44.84 a24.09 24.09 0 1 0 48.18 0 a24.09 24.09 0 1 0 -48.18 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M964.79 44.46 a22.25 22.25 0 1 0 44.5 0 a22.25 22.25 0 1 0 -44.5 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M93.71 318.8 a43.64 43.64 0 1 0 87.28 0 a43.64 43.64 0 1 0 -87.28 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M750.46 248.84 a28.69 28.69 0 1 0 57.38 0 a28.69 28.69 0 1 0 -57.38 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M613.79 250.51 a5.12 5.12 0 1 0 10.24 0 a5.12 5.12 0 1 0 -10.24 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M396.36 396.66L442.19 396.66L442.19 417.83L396.36 417.83z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1243.33 553.93a30.35 30.35 0 1 0 59.64 11.32z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1048.16 369.88L1063.27 369.88L1063.27 384.99L1048.16 384.99z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M144.23 243.74L176.63 243.74L176.63 276.14L144.23 276.14z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M899.55 86.17L929.12 86.17L929.12 115.74L899.55 115.74z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M946.18 5.1 a36.01 36.01 0 1 0 72.02 0 a36.01 36.01 0 1 0 -72.02 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M817.22 234.03 a52.6 52.6 0 1 0 105.2 0 a52.6 52.6 0 1 0 -105.2 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M572.89 306.07L588.83 306.07L588.83 357.19L572.89 357.19z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1130.69 361.16L1156.04 361.16L1156.04 386.51L1130.69 386.51z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M472.27 280.86 a44.86 44.86 0 1 0 89.72 0 a44.86 44.86 0 1 0 -89.72 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M567.88 467.32L611.38 467.32L611.38 510.82L567.88 510.82z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M966.14 375.07a2.67 2.67 0 1 0 4.8-2.34z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M4.52 55.72 a30.27 30.27 0 1 0 60.54 0 a30.27 30.27 0 1 0 -60.54 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M550.7 101.26L592.35 101.26L592.35 112.15L550.7 112.15z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M143.01 479.08L182.39 479.08L182.39 532.62L143.01 532.62z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M722.21 272.48 a16.12 16.12 0 1 0 32.24 0 a16.12 16.12 0 1 0 -32.24 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M313.39 512.57 a38.52 38.52 0 1 0 77.04 0 a38.52 38.52 0 1 0 -77.04 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M334.06 154.44L384.17 154.44L384.17 204.55L334.06 204.55z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M803.92 96.36a19.05 19.05 0 1 0 14.79 35.12z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M190.63 192.71L224.89 192.71L224.89 226.97L190.63 226.97z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M649.01 123.49a11.36 11.36 0 1 0 22.72 0.06z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M710.25 236.5L727.3 236.5L727.3 258.99L710.25 258.99z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M538.69 501.37L542.25 501.37L542.25 536.3L538.69 536.3z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

